@import "tailwindcss";

.my-wheel {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  transition: transform 2s linear; /* 2s spin */
  background: conic-gradient(
    red 0deg 120deg,
    blue 120deg 240deg,
    black 240deg 360deg
  );
}
